[build]
  publish = "."
  command = "echo \"window.GOOGLE_API_KEY = '$GOOGLE_API_KEY';\" > config.js"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
